PORT=5000
NODE_ENV=development

# MongoDB Connection String (Get the password from Dev 1)
MONGO_URI=mongodb+srv://abhinavnair_db_user:Nutriscan2027@nutriscan.1pvldh6.mongodb.net/nutriscan?appName=Nutriscan

# JWT Secrets (Can use this locally)
JWT_SECRET=super_secret_local_dev_key
JWT_EXPIRES_IN=7d

# App URLs
CLIENT_ORIGIN=http://localhost:3000
BACKEND_URL=http://localhost:5000

# AI Services
GEMINI_API_KEY=your_gemini_api_key_here
